body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("/images/weather1.jpg");
}
nav {
    background-color: #113946;
    color: #FFF2D8;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #FFF2D8;
    font-weight: bold;
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.hero {
    height: 300px;
    display: flex;
    align-items: center;
}
.container {
    text-align: center;
}
.find-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#cityInput {
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #BCA37F;
    color: #FFF2D8;
    border: none;
    padding: 3px 23px;
    border-radius: 4px;
    cursor: pointer;
}
.weather-forecast {
    display: flex;
    justify-content: space-between;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.forecast-day {
    flex: 0 0 calc(18% - 20px);
    margin-bottom: 20px;
    margin-right: 15px; /* Add some margin between forecast items */
    padding: 10px;
    border: 1px solid #BCA37F;
    border-radius: 8px;
    text-align: center;
    color: #113946;
    background-color: grey;
}




.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #113946;
    color: #FFF2D8;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

.site-footer p, .site-footer a {
    margin: 0;
}

.site-footer a {
    color: #FFF2D8;
    text-decoration: none;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: bisque;
}